.create-profile-page,
.add-experience-page,
.add-education-page {
  .heading-description {
    padding-left: 16px;
  }
  .form-fields {
    .form-label {
      margin-top: 16px;
    }
    .form-control:first-child {
      margin-top: 16px;
    }
    :last-child {
      margin-bottom: 16px;
    }
  }
  .btn.btn-info {
    display: block;
  }
  .social-links {
    display: flex;
    align-items: end;
    svg {
      margin-right: 16px;
    }
  }
  .form-check {
    margin-top: 16px;
    .form-check-label {
      margin-bottom: 0;
    }
  }
  .button-child.text-muted.form-text {
    display: inline;
    margin-left: 16px;
    font-size: 16px;
  }
}
