.post-heading {
    color: #209393;
}
.post-Form .card-header {
    background-color: #17a2b8;
}
.post-item {
    padding: 12px;
    .list-group-item {
        padding: 8px;
        font-size: 12px;
        border: 0;
        color: #17a2b8;
    }
    .image {
        border-radius: 50%
    }
    .name {
        text-align: center;
        padding-right: 16px;
        color: #17a2b8;
    }
}